apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask-app
  template:
    metadata:
      labels:
        app: flask-app
    spec:
      containers:
      - name: flask-container
        image: jeevithar03/my-flask-app
        ports:
        - containerPort: 5000
        env:
        - name: APP_NAME
          valueFrom:
            configMapKeyRef:
              name: flask-config
              key: APP_NAME
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "100m"   
            #---Mi stands for Mebibytes. It is a unit of measurement for memory based on powers of 2, rather than powers of 10. While we often use "Megabytes" (MB) in casual conversation, computers and container orchestrators prefer binary units for precision---     
        # --- PROBES MUST BE AT THIS INDENTATION LEVEL ---
        #--- 100m stands for millicores. Since 1 CPU core is equal to 1000m, 100m means you are requesting 10% of a single CPU core. ---
        livenessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 10