apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-flask
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devops-flask
  template:
    metadata:
      labels:
        app: devops-flask
    spec:
      containers:
      - name: web
        image: YOUR_DOCKERHUB_USERNAME/devops-flask:latest
        ports:
        - containerPort: 5000
